<div class="todo_note">
	<div class="card mb-3 todo-card" data-taskid="{{task.id}}">
		<div class="card-body">
			<div class="row">
				<div class="col">
					<div class="form-check form-switch">

						<input class="form-check-input mark-done" {% if task.completed %} checked {% endif %} type="checkbox" role=" switch" id=" donecheck">
						<label for="doneCheck" class="form-check-label">
							<h5 id="title" class="card-title">{{task.title}}</h5>
						</label>

					</div>
				</div>
				<div class="col text-end">
					<i class="bi bi-pencil-square clickable mx-1 edit_note_icon"></i>
					<i class="bi bi-trash clickable mx-1 task_del"></i>
				</div>
			</div>
			<p id="description" class="card-text">{{task.description}}</p>
			<span id="categoryName" class="badge bg-success">{{task.category.name}}</span>
		</div>
	</div>
</div>

<div class="todo_note_edit">
	<div class="card mb-3 todo-card" data-taskid="{{task.id}}" style="display:none">
		<div class="card-body">
			<div class="mb-3">
				<label for="title" class="form-label ">Title</label>
				<input type="text" class="form-control form-control-sm" id="title" value="{{task.title}}" aria-describedby="title-help">
				<div id="title-help" class="form-text">The title of the task</div>
			</div>
			<div class="mb-3">
				<label for="description" class="form-label">Description</label>
				<input type="text" class="form-control form-control-sm" id="description" value="{{task.description}}" aria-describedby="description-help">
				<div id="description-help" class="form-text">A short description of the task</div>
			</div>
			<div class="mb-3">
				<select id="categoryId" class="form-select form-select-sm" aria-label="category">
					{% for category in categories %}
						<option value={{category.id}} {% if category.id == task.category.id %} selected="selected" {% endif %}>
							{{category.name}}
						</option>
					{% endfor %}
				</select>
			</div>
			<button type="button" class="save_edit btn btn-primary btn-sm">Save</button>
			<button type="button" data-taskid="{{task.id}}" class="cancel-edit btn btn-outline-secondary mx-2 btn-sm">Cancel</button>
		</div>
	</div>
</div>
